@charset "utf-8";
.form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.form h1 {
	font-size: 130%;
	color: #777777;
}
.form .row {
	height: 40px;
}
.form .center-text-row {
	text-align: center;
}
.form input {
	font-size: 15px;
	border-radius: 4px;
	height: 28px;
	color: #666666;
	border: 1px solid #d0d5cb;
	vertical-align: middle;
}
.form select {
	font-size: 15px;
	border-radius: 4px;
	height: 32px;
	color: #666666;
	border: 1px solid #d0d5cb;
	vertical-align: middle;
	padding: 0.4em;
}
.select-country {
	width: 80px;
}
.select-region {
	width: 100px;
}
.form .checkbox-label, .form .radio-label {
	vertical-align: middle;
}
.form .label {
	text-align: left;
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}
.form .submit-button {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
    color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    font-weight: bold;
	height: 30px;
	padding: 0px 12px 4px 12px;
}
