@charset "utf-8";
.form-wrapper {
	width: 800px;
	margin-left: 500px;
}
.form-wrapper h1 {
	font-size: 130%;
	color: #777777;
}
form input.error, form select.error {
	border: 1px solid #DD4B39;
}
form label.error {
	color: #DD4B39;
	font-size: 85%;
	margin: 0px 0px 0px 6px;
}
form .info-msg {
	display: none;
	color: #999999;
	font-size: 85%;
	margin: 0px 0px 0px 6px;
}
form .row {
	height: 40px;
}
form .center-text-row {
	text-align: center;
}
form input {
	padding: 0px 0px 0px 6px;
	font-size: 15px;
	border-radius: 4px;
	height: 28px;
	color: #666666;
	border: 1px solid #d0d5cb;
	vertical-align: middle;
}
form select {
	font-size: 15px;
	border-radius: 4px;
	height: 32px;
	color: #666666;
	border: 1px solid #d0d5cb;
	vertical-align: middle;
	padding: 0.4em;
	background: #FFFFFF;
}
.select-country {
	width: 80px;
}
.select-region {
	width: 100px;
}
form .checkbox-label, .form .radio-label {
	vertical-align: middle;
}
form .describe-label {
	text-align: left;
	width: 130px;
	display: inline-block;
	vertical-align: middle;
}
form .submit-button {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
    color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    font-weight: bold;
	height: 30px;
	padding: 0px 12px 4px 12px;
	float: left;
	margin-left: 170px;
}
