@charset "utf-8";
/* Body */
body {
	background-color: #f4f4f4; //#f1f1f1; //#FFFFF2; //#fcf9f2;
	color: #333333;
	font: 15px/1.231 "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
	margin: 0;
	min-height: 700px;
	min-width: 960px;
}
#menubar {
	//box-shadow: 0px 0px 2px 1px #D8D5D0;
}
#title_text {
	font: 25px/25px;
	margin: 18px 0px -5px 20px;
}
#button-1 {
	//display: block;
	float: left;
	color: #FFFFEE;
	background-color: #FFD119;
	width: 100px;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 8px 10px 8px 10px;
	border-radius: 4px; // 2px 2px 2px;
	box-shadow: 0px 0px 2px 2px #FFE119;
	cursor: pointer;
}
#button-2 {
	//display: block;
	float: left;
	color: #FFFFEE;
	background-color: #AAC670;
	width: 100px;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 8px 10px 8px 10px;
	border-radius: 4px; // 2px 2px 2px;
	box-shadow: 0px 0px 2px 3px #AAD670;
	cursor: pointer;
}
#button-3 {
	//display: block;
	float: left;
	color: #FFFFEE;
	background-color: #6C91DA;
	width: 100px;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 8px 10px 8px 10px;
	border-radius: 4px; // 2px 2px 2px;
	box-shadow: 0px 0px 2px 3px #6CA1DA;
	cursor: pointer;
}
#button-4 {
	//display: block;
	float: left;
	color: #FFFFEE;
	background-color: #FF9C59;
	width: 100px;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 8px 10px 8px 10px;
	border-radius: 4px; // 2px 2px 2px; 
	box-shadow: 0px 0px 2px 2px #FFB000;
	cursor: pointer;
}
#myclass-definition {
	width: 650px;
	position: absolute;
	top: 53px;
	right: 30px;
	left: 0px
	float: right;
	color: #FFFFEE;
	font-size: 20px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none outside none;
}
.girl-user-link {   /* 女生user連結為粉紅色 */
	color: #e5737d !important;
}
.boy-user-link {    /* 男生user連結為藍色 */
	color: #527fc2 !important;
}
.group-link {       /* 群組連結為綠色 */
	color: #61A120 !important;
}
.board-link {       /* 群組連結為綠色 */
	color: #61A120 !important; //#61A120;
}
.black-link {       /* 黑色連結 */
	color: #333333;
}
.red-text {	    /* 紅色字體 */
	color: #cc0000;
}
.bomb {
	font-weight: bold;
	//color: #517099;
}
.explode {
	font-weight: bold;
	//color: #BA3239;
}
.hot {
	font-weight: bold;
	//color: #e28035;
}
.hidden {
	display: none;
}
textarea {
	color: #6a7480;
	border: 1px solid #acacac;
	padding: 6px;
	font-size: 100%;
}
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
}
hr {
	border: dashed #b8b8b8; //#b6b6ae;
	border-width: 1px;
	width: 87%;
	float: right;
}
.gray_button { /* 貼在小block右下角的灰色按鍵 */
	position:absolute;
	bottom:0;
	right:-2px;
	border-radius: 6px;
	font-weight: bold;
	height: 30px;
	padding: 6px 15px 6px 15px;
	font-size: 95%;
	cursor: pointer;
	background-color: #f5f5f5 !important;
	border: 1px solid #dcdcdc !important;
	color: #444 !important;
}

/* Menu Bar */ 
#masthead {
	background-color: #FFFFFF; //#FFFFF2; //#fcf9f2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
	height: 60px;
	//width: 1070px;
	//margin-left: auto;
	//margin-right: auto;
}
#masthead > div {
    //background: linear-gradient(#FFFFFF, #EBEBEB) repeat scroll 0 0 #FFFFFF;
	//width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0;
	height: 55px;
	//margin: 0;
}
.menu_tabs > li {
	float: left;
}
li.selected {
    background-image: linear-gradient(#FF484F, #BC282F);
	//background-color: #E51937;//#AB171E; #e51937;
}
.menu_big_chi {
	text-align: center;
	color: #e51937; //#ae2a26; //#CC0000;
	font: 22px/22px "Arial";
    //font-weight: bold;
	padding-bottom: 7px;
	display: block;
	padding-left: 9px;
	padding-right: 9px;
}
.menu_big_chi.selected {
	color: #FFFFFF;
}
.menu_small_chi {
	text-align: center;
	color: #777777;
	font: 12px "Arial";
	display: block;
	//padding-left: 6px;
	//padding-right: 6px;
}
.menu_small_chi.selected {
	color: #FFFFFF;
}
.menu_tabs, .dropdown {
	margin: 0;
	z-index: 3;
}
.menu_tab {
    margin-top: 1px;
    width: 108px;
    height: 58px;
}
.menu_tabs > li > a {
	//color: #C3C3C3;
	display: block;
	font: bold 16px/16px "Arial";
	letter-spacing: 0.05em;
	padding: 11px 3px 8px 3px;
	overflow: hidden;
}
.menu_tabs > li .menu_tabs_dropdown_link {
	text-align: center;
	color: #FFFFFF;
	font: 20px/20px "Arial";
	padding-top: 10px 9px 10px 9px;
	background-color: #e51937;
	z-index: 1000;
	position: absolute;
}
#create_group_link, #create_event_link {
	top: 94px;
}
.dropdown > li {
	float: right;
}
.dropdown > li > a {
	color: #b6b6ae; //#C3C3C3;
	display: block;
	font: 16px/16px "Arial";
	letter-spacing: 0.05em;
	padding: 20px 10px 0px 0px;
}
.dropdown > li > a:hover, .dropdown > li > a:active {
	color: #2CB4DA;
}
#logo {
	float: left;
	padding-left: 8px;
	padding-right: 4px;
}
#user_img {
	float: right;
	border-radius: 4px; 
	border: 4px solid #FFFFFF;
}
#username_button {
	font: bold 20px/20px "Arial";
	padding: 17px 12px; // 17px 6px;
	//color: #527fc2; //#037586; //#e5737d; /* #B60000; */
}

/* Home Advertisement*/
#homeAd {
	background-color: #BA3239;//#037586; //#ae2a26; //#037586; //#C11919; /*#B80000;*/
	height: 0px;//240px;
	margin-bottom: 1em;
	//box-shadow: 2px 2px 2px 2px #888888;
}

#homeAd div {
    display: none;
}

/* Home Content */
#home_container {
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 2em;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	//border: 1px solid #D8D5D5;
	//background-color: #FFFFFF;	
	height: 795px;
	width: 1140px;
	padding: 0;
}

/* Fire Icon & 人氣Title */
.hot-title-div {
	font-size: 125%;
}
#hot-title-span-1 {
	margin: 10px 0px 0px 25px;
}
#hot-title-span-2 {
	margin: 10px 0px 0px 463px;
}
#hot-title-span-3 {
	margin: 10px 0px 0px 25px;
}
#hot-title-span-4 {
	margin: 10px 0px 0px 388px;
}
.fire-pic {
	margin: 8px 5px 0px 0px;
}

/* 四大熱門公告外框 */
.hot-block {
	float: left;
	border-radius: 5px 5px 5px 5px;
	margin: 20px;
	padding: 3px;
	width: 524px;                  /* 設定width只是設定到content的width, padding/margin/border會另外加寬此element看起來的寬度 */
	height: 312px;
//	border: 1px solid #D8D5D5;
	//background-color: #eef2e0;
//	box-shadow: 1px 1px 1px 1px #888888;
}

/* 人氣用戶 */
.hot-user {
	float: left;
	width: 117px;
	height: 142px;
	padding: 5px;
	margin: 1px;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #D8D5D0;
	font-size: 85%;
	overflow: hidden;
}
.hot-user a {
	text-align: center;
	display: block;
}
.focused-block {
	background-color: #000000;
}
.hot-user .girl-user-link, .hot-user .group-link, .hot-user .boy-user-link {
	margin-top: 1px; 
}

/* 熱門討論版＆文章 */
.hot-board {
	float: left;
	width: 258px;               /* 兩個hot-article div, 所以 2*(width + 2 padding + 2 border + 2 margin) = hot-block的content width, 524 */
	height: 152px;              /* 三個hot-article div, 所以 3*(height + 2 padding + 2 border + 2 margin) = hot-block的content height, 312 */
	//padding: 0px;
	margin: 1px;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #D8D5D0;
	overflow: hidden;
}
.hot-board h1 {
	font-weight: normal;
	font-size: 120%;
	padding: 4px 1px 4px 1px;
	margin: 0;
	text-align: center;
}
.hot-article-words {
	font-size: 95%;
	padding: 4px 4px 3px 4px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD; //#D8D5D0;
	height: 33px;
}
.hot-article-title {
	color: #333333;
	min-width: 250px;
//	font-weight: bold;
}
.hot-article-good {
	color: #BA3239;
}
.hot-article-bad {
	color: #61A120;
}
.hot-article-info {
	padding-top: 3px;
	float: right;
	font-size: 85%;
}

/* 熱門群組 */
.hot-group {
	float: left;
	width: 160px;
	height: 142px;
	padding: 5px;
	margin: 1px 0px 1px 2px;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #D8D5D0;
	overflow: hidden;
}
.hot-group div {
	height: 26px;
}
.hot-group h1 {
	font-size: 95%;
	padding: 6px 0 3px 0;
	margin: 0;
	color: #333333;
	width: 159px;
	text-align: center;
}
.hot-group h1.long_title {
	text-align: left;
}
.hot-group-count {
	float: right;
	padding-right: 3px;
	color:  #0066CC; //#61A120;
	font-size: 80%;
}

/* 熱門活動 */
.hot-event {
	float: left;
	width: 510px;               /* 兩個hot-article div, 所以 2*(width + 2 padding + 2 border + 2 margin) = hot-block的content width, 524 */
	height: 90px;              /* 三個hot-article div, 所以 3*(height + 2 padding + 2 border + 2 margin) = hot-block的content height, 312 */
	padding: 5px;
	margin: 1px;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #D8D5D0;
	overflow: hidden;
}
.hot-event-type {
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	float: right;
	font-size: 12px;
	//text-align: center;
	padding: 3px 5px 3px 5px;//5px 7px 5px 7px;
}
.hot-event-pic {
	height: 130px;
	width: 120px;
	border: 1px solid #C1C1C1;
	float: left;
	margin: 0px 5px 0px 0px; 
}
.hot-event-words {
	//display: inline;
	width: 320px;
	height: 60px;
	overflow: hidden;

	float: left;
}
.hot-event-info {
	font-size: 90%;
	float: left;
}
.hot-event h1 {
	display: inline;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #333333;
}
.hot-event p {
	font-size: 85%;
	padding: 0;
	margin: 5px 0px 0px 0px;
	color: #333333;
}
.hot-event-count {
	float: right; 
	line-height: 50px;
	font-size: 80%;
	color: #0066CC;
}
.hot-block h1:hover {
	color: #CC0000;
}

/* 找群組, 找活動 */
#container_frame {
	border-top: 1px solid #D8D5D0;
}
.search_side_area {
	min-height: 795px;
	width: 229px;
	border-right: 1px solid #D8D5D0;
	border-top: 1px solid #D8D5D0;
	float: left;
	display: block;
	z-index: 2;
}
.search_center_area {
	min-height: 795px;
	//position: absolute;
}

/* 紅色Search Bar */
#search_list_wrapper {
	margin-left: 230px;
	height: 41px;
    //background: linear-gradient(#FFFFFF, #F0F0F0) repeat scroll 0 0 #F0F0F0;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #F6F6F6;
    //border: 1px solid #C0C0C0;
    color: #4F5F5F;
    font-weight: bold;
}
//#search_list_wrapper.no-side-bar {	/* 左邊沒有area side bar的頁面, search bar的margin設成0 */
//	margin: 0;
//}
#search_list {
	display: inline;
}
#search_list li{
	font: 17px/17px bold;
	float: left;
}
.search_bar_title {
	padding: 12px 5px 12px 10px;
	color: #5F5F5F;
}
.search_bar_dropdown_list_wrapper {
	margin: 7px 0px 5px 0px;
	padding: 5px;
	height: 15px;
	border-radius: 3px;
	border: 1px solid #D8D5D0;
	background-color: #f5f5f5; //#f5f5f5; //#FFFFFF;
	cursor: pointer;
	z-index: 10;
	position: relative;
}
.search_bar_dropdown_list_div {
	border-radius: 4px;
	border: 1px solid #D8D5D0;
	background-color: #FAF9F7;//#f5f5f5; //#FFFFFF;
	cursor: pointer;
	top: -1px;
	left: -1px;
	position: absolute;
	display: none;
}
.search_bar_dropdown_list_div li {
	clear: left;
	min-width: 93px;
}
#search_list #keyword_title {
	float: right;
}
#keyword_submit_button {
    cursor: pointer;
    background: linear-gradient(#FFFFFF, #E4E4E4) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 60px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
	margin: 6px 20px 0px 8px;
    border-radius: 3px 3px 3px 3px;
	//margin-top: 5px;
	float: right;
}
#keyword_input {
	margin: 6px 4px 0px 0px;
    font-size: 15px;
	float: right;
	border-radius: 4px;
	height: 26px;
	width: 150px;
	padding-left: 5px;
	color: #b6b6ae;
	border: 1px solid #d0d5cb;
}

/* 結果排序按鍵 */
.sort_by_wrapper {
    width: 1000px;
    height: 75px;
    //margin: 10px 100px 10px 10px;
}
#sort_by_botton {
    cursor: pointer;
    float: left;
    margin-top: 30px;
    display: inline;
    border: 1px solid #CCCCCC;
    padding-right: 8px;
    text-align: center;
    height: 35px;
    //width: 130px;
    font-size: 15px;
    border-radius: 3px;
    line-height: 35px;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    background: linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 #FFFFFF;
}
#sort_by_label {
    float: left;
    line-height: 36px;
    //padding-top: 13px;
    padding-left: 10px;
    font-size: 13px;
    color: #444444;
}
#sort_by_selected {
    padding: 0px 5px 0px 7px;
}
/* 搜尋結果內容 */
#search_result_wrapper {
	margin-left: 230px;
	min-height: 751px;
}
//#search_result_wrapper.no-side-bar {	/* 左邊沒有area side bar的頁面, search result wrapper的margin設成0 */
//	margin: 0;
//}
//#search_result_div {
//	width: 1000px;
//	min-height: 751px;
//	margin-left: 60px;
//	//margin-right: auto;
//}
//#search_result_div.no-side-bar {	/* 左邊沒有area side bar的頁面, search result div的寬度加大 */
//	width: 1020px;
//}

/* Second Bar */
#second_bar {
    background: linear-gradient(#FFFFFF, #EBEBEB) repeat scroll 0 0 #FFFFFF;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
	height: 65px;
	//background-color: #FFFFFF;
	//margin-bottom: 1px;
	border-bottom: 1px solid #E6E6E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
#second_bar ul {
	margin: 0;
	padding-left: 208px;
}
#second_bar a {
	color: #444444;
	float: left;
	//padding: 20px;
	width: 88px;
    height: 66px;
	text-align: center;
	//border-left: 1px solid #D8D5D0;
}
#second_bar img {
    margin-top: 8px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#second_bar a.active {
    background: linear-gradient(#fd8681, #bc5550) repeat scroll 0 0 #fd8681;
	//background-color: #cd6661;
	color: #ffffff;
}
#second_bar a.hovered {
    background: linear-gradient(#FFFFFF, #CCCCCC) repeat scroll 0 0 #FFFFFF;
	//background-color: #F1F1F1;
	color: #444444;
}
.panel {
	min-height: 795px;
}

/* 設定按鈕panel */
/* 藍, 灰filter按鈕 */
.filter_button {
	background-color: #b8b8b8;
	color: #FFFFFF;
	margin: 20px 2px 15px 2px;
	padding: 6px 10px 5px 10px;
	float: left;
	cursor: pointer;
	font-size: 110%;
}
.filter_button.is_clicked {
	background-color: #4096ab;
}
/* 新增, 搜尋紅按鈕*/
.add_search_button {
	background-color: #cd6661;
	color: #FFFFFF;
	margin: 18px 14px 15px 0px;
	padding: 6px 16px 5px 12px;
	float: right;
	cursor: pointer;
	font-size: 110%;
	border-radius: 20px;
	border: 1px solid #D8D5D0;
	//box-shadow: 0px 0px 2px 1px #D8D5D0;
}

/* 隱私設定按鈕 */
.setting_panel {
	position: relative;
	height: 69px;
}
.private_button {
	float: right;
	font-size: 110%;
	width: 118px;
	height: 25px;
	margin: 20px 0px 20px 0px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0px 0px 2px 1px #acacac;//#D8D5D0;
	background-color: #edebe2;
	padding-bottom: 2px;
	padding-top: 2px;
	cursor: pointer;
}
.private_button img {
	margin-top: 2px;
	width: 20px;
	height: 20px;
	position: relative;
	left: -3px;
}
.private_button span {
	position: relative;
	top: -4px;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.private_list {
	border-radius: 4px;
	background-color: #FFFFF2;
	box-shadow: 0px 0px 2px 1px #acacac;//#D8D5D0;
	position: absolute;
	//top: 46px; 
	//left: 440px;
	//width: 395px;
	padding: 5px;
	display: none;
	z-index: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.private_list span {
	padding: 5px;
	line-height: 1.6em;
}
.private_title {
	color: #333333;//#3c97ad;
	min-width: 207px;
	margin-left: 4px;
}
.private_option {
	cursor: pointer;
}
.private_option.selected {
	color: #3c97ad; 
	font-weight: bold;
}
