/* 動態牆頁面 */
#wall_panel {
	width: 550px;
	margin: auto;
}
#wall_panel .control_panel {
    margin: 0 0px 30px 80px;
}
.timeline_wrapper {
	overflow: hidden;
	min-height: 20px;
	//padding: 5px;
	margin-bottom: 6px;
	clear: right;
}
.moment_wrapper {
    overflow: hidden;
    padding-bottom: 30px;
}
.moment_content_wrapper {
    float: right;
	overflow: hidden;
	min-height: 90px;
}
.date_line_title {
	font-size: 110%;
	font-weight: bold;
	margin: 0;
	width: 80px;
	float: left;
	text-align: center;
}
.moment_author {
    font-size: 12px;
	font-weight: bold;
    margin-bottom: 2px;
}
.time_title {
    color: #999999;
	font-size: 12px;
	margin: 0 0 5px 0;
	font-weight: bold;
}
.wall_poster_pic {
	height: 64px;
	width: 64px;
	float: left;
	//border-radius: 3px;
	//border: 4px solid #FFFFFF;
}
.wall_poster_pic img {
    border: 1px solid #CCCCCC;
	height: 64px;
	width: 64px;
	//border-radius: 3px;
}
.moment_content {
	border-radius: 2px;
	float: left;
	width: 435px;
	min-height: 53px;
	//margin: 4px 0px 5px 10px;
	padding: 12px 15px 12px 14px;
	border: 1px solid #D8D5D0;
	background-color: #FFFFFF;
}
.moment_content p {
	margin: 0;
}
.moment_content #gallery {
	overflow: auto;
	margin-top: 8px;
}
.moment_content #gallery img {
    width: 140px;
    height: 140px;
    padding-top: 5px;
	padding-right: 5px;
}
.moment_content #gallery a {
	float: left;
}
.moment_post {
	overflow: hidden;
	position: relative;
	min-height: 55px;
}
.moment_post form .cancel-button, .moment_post form .hidden-button {
	float: right;			/* 沒有gallery時moment_post裡的"編輯" "取消"button */
	margin: 7px 110px 0 4px;

	//background-color: #f5f5f5 !important; /* firefox不work */
	//border: 1px solid #dcdcdc !important;
	//color: #444 !important;
//	font-weight: normal;
}
.moment_post form .submit-button , .moment_post form .delete-button {
	float: right;			/* 沒有gallery時moment_post裡的"提交" "刪除"button */
	margin: 7px 0px 0 4px;	

	//background-color: #f5f5f5 !important;
	//border: 1px solid #dcdcdc !important;
	//color: #444 !important;
//	font-weight: normal;
}
.moment_post #gallery form .cancel-button, .moment_post #gallery form .hidden-button {
	float: right;			/* 有gallery時moment_post裡的"編輯" "取消"button */
	margin: 40px 110px 0 4px;

	//background-color: #f5f5f5 !important;
	//border: 1px solid #dcdcdc !important;
	//color: #444 !important;
//	font-weight: normal;
}
.moment_post #gallery form .submit-button, .moment_post #gallery form .delete-button {
	float: right;			/* 有gallery時moment_post裡的"提交" "刪除"button */
	margin: 40px 0px 0 4px;	

	//background-color: #f5f5f5 !important;
	//border: 1px solid #dcdcdc !important;
	//color: #444 !important;
//	font-weight: normal;
}
.moment_content textarea {
	margin-left: 0px;
	//width: 600px;
}
.moment_response {
	padding: 4px 0 4px 0;
	overflow: auto;
	clear: left;
	border-bottom: 1px solid #D8D5D0;
}
.moment_response.last {
	border: none;
	padding-bottom: 0;
}
.moment_response div {
	width: 400px;
	margin: 1px 0 0 6px;
	float: left;
	position: relative; /* for all red buttons in moment_response*/
}
.moment_response p {
	margin: 0;
	font-size: 90%;
}
.moment_response div a {
	font-size: 90%;
	margin-right: 5px;
	float: left;
}
.moment_response img {
 	width:50px;
	height:50px;
	border-radius: 2px;
	float: left;
}
.moment_content hr {
	width: 100% !important;
	float: left !important;
	margin: 7px 0 5px 0;
}
.moment_content .date {
	margin: 1px 0 16px 0;
	width: 100px;
	float: left;
	display: inline;
	color: #acacac;
	font-size: 80%;
}
.moment_response form .submit-button, .moment_response form .cancel-button, .moment_response form .hidden-button, .moment_response form .delete-button {
	margin: 0 0 0 4px;
	float: right;
	//background-color: #f5f5f5;
	//border: 1px solid #dcdcdc;
	//color: #444;
//	font-weight: normal;
}
.moment_post textarea {
	width: 725px;
	margin-bottom: 5px;
}
.moment_response textarea {
	width: 661px;
	margin-bottom: 5px;
}


.like-button {
	position: absolute;
	display: block;
	width: 50px;
	overflow: hidden;
	bottom: -1px;
	right: 0px; //110px;
	color: #cd6661; //#cc0000;
	font-size: 85%;
}
.respond-button {
	position: absolute;
	display: block;
	width: 50px;
	overflow: hidden;
	bottom: -1px;
	right: 50px; //160px;
	color: #61A120; //#cc0000;
	font-size: 85%;
}
.like-button img {
	width: 19px;
	height: 19px;
	vertical-align: middle;
}
.respond-button img {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
